/* button stylesheet */
button {
	background-color: white;
	border-radius: 0.4em;
	color: var(--gray);
	padding: 0.6em 1em;
	font-size: 1em;
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
	border: thin solid var(--line-color);
	font-family: 'Proxima-Nova';
	box-shadow: 0px 2px 2px var(--line-color);
	transition: ease all 0.3s;
}

button.tiny{
	padding: 0.3em 0.7em;
	font-size: 0.8em;
}

button:hover {
	color: var(--black);
	background-color: #F4F4F4;
	box-shadow: 0px 5px 11px var(--white);
}

button:focus {
	outline: 0;
}

button.full-width {
	width: 100%;
	text-align: center;
}