/* flex stylesheet */

.flex-between{
	display: flex;
	justify-content: space-between;
}

.flex-start{
	display: flex;
	justify-content: flex-start;
}

.flex-middle{
	align-items: center;
}

.flex-end{
	display: flex;
	justify-content: flex-end;
}