/* responsive web designing */
@media only screen and (max-width: 670px) {
	nav div.flex-end {
		justify-content: flex-start;
	}

	nav ul li {
		font-size: 0.7em;
		padding: 1em 0.8em;
		margin: 0;
	}

	/*
	header div.wrapper, section#workshops div.wrapper,
	section#websites div.wrapper {
		margin-top: 2em !important;
	}
	*/

	div.wrapper {
		width: 90%;
	}

	section#process div.flex-between,
	section#workshops div.flex-between {
		display: block;
	}

	section#process div.phase {
		margin-right: 0;
	}

	section#workshops img.featured-image {
		width: 30% !important;
		margin-bottom: 1em;
	}

	h1.featured-icons {
		font-size: 3em !important;
	}

	button {
		width: 100%;
	}

	.flex-start {
		display: block;
	}

	.excess {
		display: none;
	}

	.social-media-wrapper {
		display: block;
		margin-top: 1em;
		text-align: center;
	}
}